In [1]:
import os
%config IPCompleter.greedy = True
#os.chdir("..")

In [2]:

#importing libraries
import pandas as pd
import numpy as np

from sklearn.ensemble import RandomForestClassifier

In [3]:
#import datasets
dftrain = pd.read_csv("../train.csv")
dftest = pd.read_csv("../test.csv")

In [4]:
dftrain['Age'].fillna(dftrain['Age'].mean(),inplace=True)
dftrain['Fare'].fillna(dftrain['Fare'].mean(),inplace=True)
dftest['Age'].fillna(dftest['Age'].mean(),inplace=True)
dftest['Fare'].fillna(dftest['Fare'].mean(),inplace=True)

In [7]:
dftrain.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,13.002015,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,22.000000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,29.699118,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,35.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [8]:
dftrain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            891 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [62]:
#arranging datasets to feed to model
dfsurvived=dftrain['Survived']
dropcolumns = ['PassengerId','Survived','Cabin','Name','Embarked','Ticket']
dropcolumns2= ['PassengerId','Cabin','Name','Embarked','Ticket']
dftrainx=dftrain.drop(dropcolumns,axis=1)
dftestx=dftest.drop(dropcolumns2,axis=1)

In [44]:
dftrainx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
PassengerId    891 non-null int64
Pclass         891 non-null int64
Sex            891 non-null object
Age            891 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Fare           891 non-null float64
dtypes: float64(2), int64(4), object(1)
memory usage: 48.8+ KB

In [15]:
dftestx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 6 columns):
Pclass    418 non-null int64
Sex       418 non-null object
Age       418 non-null float64
SibSp     418 non-null int64
Parch     418 non-null int64
Fare      418 non-null float64
dtypes: float64(2), int64(3), object(1)
memory usage: 19.7+ KB

In [63]:
titanic_sex_dummies = pd.get_dummies(dftrainx['Sex'])
titanic_sex_dummies.columns = ['Female','Male']


titanic_sex_dummies_test = pd.get_dummies(dftestx['Sex'])
titanic_sex_dummies_test.columns = ['Female','Male']

In [64]:
dftrainx["Sex"].head()

0      male
1    female
2    female
3    female
4      male
Name: Sex, dtype: object

In [65]:
titanic_sex_dummies.head()

   Female  Male
0       0     1
1       1     0
2       1     0
3       1     0
4       0     1

In [66]:
titanic_sex_dummies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 2 columns):
Female    891 non-null uint8
Male      891 non-null uint8
dtypes: uint8(2)
memory usage: 1.8 KB

In [67]:
dftrainx['Male'] = 0
dftrainx['Female']=0
dftrainx['Male']=titanic_sex_dummies['Male']
dftrainx['Female']=titanic_sex_dummies['Female']

#dftrainx = dftrainx.join(titanic_sex_dummies)


#dftestx = dftrainx.join(titanic_sex_dummies_test)

In [68]:
dftestx['Male'] = 0
dftestx['Female']=0
dftestx['Male']=titanic_sex_dummies_test['Male']
dftestx['Female']=titanic_sex_dummies_test['Female']

In [71]:
dftrainx.drop('Sex',axis=1,inplace=True)

In [72]:
dftestx.drop('Sex',axis=1,inplace=True)

In [73]:
dftrainx.head()

   Pclass   Age  SibSp  Parch     Fare  Male  Female
0       3  22.0      1      0   7.2500     1       0
1       1  38.0      1      0  71.2833     0       1
2       3  26.0      0      0   7.9250     0       1
3       1  35.0      1      0  53.1000     0       1
4       3  35.0      0      0   8.0500     1       0

In [74]:
dftestx.head()

   Pclass   Age  SibSp  Parch     Fare  Male  Female
0       3  34.5      0      0   7.8292     1       0
1       3  47.0      1      0   7.0000     0       1
2       2  62.0      0      0   9.6875     1       0
3       3  27.0      0      0   8.6625     1       0
4       3  22.0      1      1  12.2875     0       1

In [75]:

#train the model
rf=RandomForestClassifier(n_estimators=100,n_jobs=2)
rf.fit(dftrainx,dfsurvived)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=100, n_jobs=2, oob_score=False, random_state=None,
            verbose=0, warm_start=False)

In [76]:
ypred=rf.predict(dftestx)

In [77]:
#saving to kaggle format
result = pd.DataFrame(dftest['PassengerId'])
result['Survived']=ypred

In [78]:
#writing to file
result.to_csv('../basicRandomForestSexDummies.csv',index=False)