# Creating a new column for family size

In [2]:
import os
%config IPCompleter.greedy = True
#os.chdir("..")

In [3]:

#importing libraries
import pandas as pd
import numpy as np

from sklearn.ensemble import RandomForestClassifier

In [4]:
#import datasets
dftrain = pd.read_csv("../train.csv")
dftest = pd.read_csv("../test.csv")

In [148]:
dftrain['Age'].fillna(dftrain['Age'].mean(),inplace=True)
dftrain['Fare'].fillna(dftrain['Fare'].mean(),inplace=True)
dftest['Age'].fillna(dftest['Age'].mean(),inplace=True)
dftest['Fare'].fillna(dftest['Fare'].mean(),inplace=True)
dftrain['Embarked'].fillna("S",inplace=True)
dftest['Embarked'].fillna("S",inplace=True)

In [149]:
dftrain.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,13.002015,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,22.000000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,29.699118,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,35.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [150]:
dftrain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            891 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       891 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [188]:
#arranging datasets to feed to model
dfsurvived=dftrain['Survived']
#dropcolumns = ['PassengerId','Survived','Cabin','Name','Embarked','Ticket']
#dropcolumns2= ['PassengerId','Cabin','Name','Embarked','Ticket']
dropcolumns = ['Survived','Cabin','Name','Ticket']
dropcolumns2= ['Cabin','Name','Ticket']
dftrainx=dftrain.drop(dropcolumns,axis=1)
dftestx=dftest.drop(dropcolumns2,axis=1)

In [189]:
dftrain.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [190]:
dftrainx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
PassengerId    891 non-null int64
Pclass         891 non-null int64
Sex            891 non-null object
Age            891 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Fare           891 non-null float64
Embarked       891 non-null object
dtypes: float64(2), int64(4), object(2)
memory usage: 55.8+ KB

In [191]:
dftestx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 8 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Sex            418 non-null object
Age            418 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Fare           418 non-null float64
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(2)
memory usage: 26.2+ KB

In [192]:
titanic_sex_dummies = pd.get_dummies(dftrainx['Sex'])
titanic_sex_dummies.columns = ['Female','Male']


titanic_sex_dummies_test = pd.get_dummies(dftestx['Sex'])
titanic_sex_dummies_test.columns = ['Female','Male']

In [193]:
dftrainx["Pclass"].head(10)

0    3
1    1
2    3
3    1
4    3
5    3
6    1
7    3
8    3
9    2
Name: Pclass, dtype: int64

In [194]:
titanic_sex_dummies.head()

   Female  Male
0       0     1
1       1     0
2       1     0
3       1     0
4       0     1

In [195]:
titanic_sex_dummies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 2 columns):
Female    891 non-null uint8
Male      891 non-null uint8
dtypes: uint8(2)
memory usage: 1.8 KB

In [196]:
dftrainx['Male'] = 0
dftrainx['Female']=0
dftrainx['Male']=titanic_sex_dummies['Male']
dftrainx['Female']=titanic_sex_dummies['Female']

#dftrainx = dftrainx.join(titanic_sex_dummies)


#dftestx = dftrainx.join(titanic_sex_dummies_test)

In [197]:
dftestx['Male'] = 0
dftestx['Female']=0
dftestx['Male']=titanic_sex_dummies_test['Male']
dftestx['Female']=titanic_sex_dummies_test['Female']

In [198]:
dftrainx.drop('Sex',axis=1,inplace=True)

In [199]:
dftestx.drop('Sex',axis=1,inplace=True)

In [200]:
dftrainx.head()

   PassengerId  Pclass   Age  SibSp  Parch     Fare Embarked  Male  Female
0            1       3  22.0      1      0   7.2500        S     1       0
1            2       1  38.0      1      0  71.2833        C     0       1
2            3       3  26.0      0      0   7.9250        S     0       1
3            4       1  35.0      1      0  53.1000        S     0       1
4            5       3  35.0      0      0   8.0500        S     1       0

In [201]:
dftestx.head()

   PassengerId  Pclass   Age  SibSp  Parch     Fare Embarked  Male  Female
0          892       3  34.5      0      0   7.8292        Q     1       0
1          893       3  47.0      1      0   7.0000        S     0       1
2          894       2  62.0      0      0   9.6875        Q     1       0
3          895       3  27.0      0      0   8.6625        S     1       0
4          896       3  22.0      1      1  12.2875        S     0       1

Making Dummies for Pclass

In [202]:
#pclass dummies
titanic_class_dummies = pd.get_dummies(dftrainx['Pclass'])
titanic_class_dummies.columns = ['Class1','Class2','Class3']

In [203]:
titanic_class_dummies_test = pd.get_dummies(dftestx['Pclass'])
titanic_class_dummies_test.columns = ['Class1','Class2','Class3']

In [204]:
dftrainx['Class1'] = 0
dftrainx['Class2']=0
dftrainx['Class3']=0
dftrainx['Class1']=titanic_class_dummies['Class1']
dftrainx['Class2']=titanic_class_dummies['Class2']
dftrainx['Class3']=titanic_class_dummies['Class3']

In [205]:
dftestx['Class1'] = 0
dftestx['Class2']=0
dftestx['Class3']=0
dftestx['Class1']=titanic_class_dummies_test['Class1']
dftestx['Class2']=titanic_class_dummies_test['Class2']
dftestx['Class3']=titanic_class_dummies_test['Class3']

In [145]:
#dftrainx=dftrainx.drop('Pclass',axis=1,inplace=True)

In [146]:
#dftestx=dftestx.drop('Pclass',axis=1,inplace=True)

Making dummies for embarked

In [206]:
titanic_embarked_dummies = pd.get_dummies(dftrainx['Embarked'])
titanic_embarked_dummies.columns = ['C','Q','S']

In [207]:
titanic_embarked_dummies.head()

   C  Q  S
0  0  0  1
1  1  0  0
2  0  0  1
3  0  0  1
4  0  0  1

In [208]:
dftrainx['C'] = 0
dftrainx['Q']=0
dftrainx['S']=0
dftrainx['C']=titanic_embarked_dummies['C']
dftrainx['Q']=titanic_embarked_dummies['Q']
dftrainx['S']=titanic_embarked_dummies['S']

In [209]:
titanic_embarked_dummies_test = pd.get_dummies(dftestx['Embarked'])
titanic_embarked_dummies_test.columns = ['C','Q','S']

In [210]:
dftestx['C'] = 0
dftestx['Q']=0
dftestx['S']=0
dftestx['C']=titanic_embarked_dummies_test['C']
dftestx['Q']=titanic_embarked_dummies_test['Q']
dftestx['S']=titanic_embarked_dummies_test['S']

In [211]:
#dropping final columns
dftrainx=dftrainx.drop(['PassengerId','Pclass','Embarked'],axis=1)

In [212]:
dftestx=dftestx.drop(['PassengerId','Pclass','Embarked'],axis=1)

In [213]:

#train the model
rf=RandomForestClassifier(n_estimators=100,n_jobs=2)
rf.fit(dftrainx,dfsurvived)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=100, n_jobs=2, oob_score=False, random_state=None,
            verbose=0, warm_start=False)

In [214]:
ypred=rf.predict(dftestx)

In [215]:
#saving to kaggle format
result = pd.DataFrame(dftest['PassengerId'])
result['Survived']=ypred

In [216]:
#writing to file
result.to_csv('../basicRandomForestMultipleDummies.csv',index=False)