In [2]:
#importing libraries
import pandas as pd
import numpy as np

In [3]:
#autocomplete activate
%config IPCompleter.greedy=True

In [4]:
#loading data
dftrain = pd.read_csv("train.csv")
dftest = pd.read_csv("test.csv")

In [5]:
#information on dataset
dftrain.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [6]:
#information on dataset
dftrain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [12]:
#information on dataset
dftrain.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [13]:
#data engineering
dfsurvived = dftrain[['Survived']]
#dftrainx=dftrain.drop('Survived',axis=1)
dftrainx=dftrain[['Age','Fare','SibSp','Parch']]
dftrainx.head()

    Age     Fare  SibSp  Parch
0  22.0   7.2500      1      0
1  38.0  71.2833      1      0
2  26.0   7.9250      0      0
3  35.0  53.1000      1      0
4  35.0   8.0500      0      0

In [14]:
#handling missing values

#dftrainx['Age']= dftrain['Age'].fillna(dftrain['Age'].mean())
#dftrainx['Age'][np.isnan(dftrainx['Age'])]=dftrainx['Age'].mean()
#dftrainx.loc(dftrainx['Age'].isnull(),'Age')=dftrainx['Age'].mean()
dftrainx['Age'].fillna((dftrainx['Age'].median()),inplace=True)

C:\Users\varun_000\Anaconda3\lib\site-packages\pandas\core\generic.py:3295: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [15]:
dftrainx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 4 columns):
Age      891 non-null float64
Fare     891 non-null float64
SibSp    891 non-null int64
Parch    891 non-null int64
dtypes: float64(2), int64(2)
memory usage: 27.9 KB

In [16]:
dftrainx.describe()

              Age        Fare       SibSp       Parch
count  891.000000  891.000000  891.000000  891.000000
mean    29.361582   32.204208    0.523008    0.381594
std     13.019697   49.693429    1.102743    0.806057
min      0.420000    0.000000    0.000000    0.000000
25%     22.000000    7.910400    0.000000    0.000000
50%     28.000000   14.454200    0.000000    0.000000
75%     35.000000   31.000000    1.000000    0.000000
max     80.000000  512.329200    8.000000    6.000000

In [17]:
dfsurvived.describe()

         Survived
count  891.000000
mean     0.383838
std      0.486592
min      0.000000
25%      0.000000
50%      0.000000
75%      1.000000
max      1.000000

In [18]:
#importing machinelearning libraries
from sklearn.linear_model import LinearRegression

In [19]:
from sklearn import metrics

In [29]:
#initialize the linear model
lreg=LinearRegression()
lreg2=LinearRegression()

In [23]:
#train and test 1
dftrainx2=dftrainx[['Age','Fare']]
dftest2=dftest[['Age','Fare']]

#train and test 3
dftrainx3=dftrainx[['Age','Fare','SibSp','Parch']]
dftest3=dftest[['Age','Fare','SibSp','Parch']]

In [24]:
#impute missing valuesin test

dftest2['Age'].fillna((dftrainx['Age'].median()),inplace=True)
dftest2['Fare'].fillna((dftrainx['Fare'].median()),inplace=True)

dftest3['Age'].fillna((dftrainx['Age'].median()),inplace=True)
dftest3['Fare'].fillna((dftrainx['Fare'].median()),inplace=True)

C:\Users\varun_000\Anaconda3\lib\site-packages\pandas\core\generic.py:3295: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

0

In [30]:
#fit the linear model
lreg.fit(dftrainx2,dfsurvived)

#fit the linear model with 4 inputs
lreg2.fit(dftrainx3,dfsurvived)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [33]:
#predit the output using 2 inputs
ypred=lreg.predict(dftest2)

In [34]:
#predict the output using 4 inputs
ypred3 = lreg2.predict(dftest3)

In [35]:
#converting output to boolean
ypredbool = 0.5<=ypred
ypredbool=ypredbool*1

In [36]:
#converting output to 2nd model to boolean
ypredbool2 = 0.5<=ypred3
ypredbool2=ypredbool2*1

In [37]:
#kaggle submission format
result = pd.DataFrame(dftest['PassengerId'])
result['Survived']=ypredbool
result.to_csv('basicPrediction.csv',index=False)

In [38]:
#kaggle submission format for 2nd model
result2 = pd.DataFrame(dftest['PassengerId'])
result2['Survived']=ypredbool2
result2.to_csv('basicPrediction2.csv',index=False)